@using CRM.Core
@using CRMViettour.Utilities
@{
    ViewBag.Title = "Quản lý TOUR";
}

<script src="~/Content/ckeditor/ckeditor.js"></script>

<div class="page-content">
    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>QUẢN LÝ TOUR</h1>
        </div>
        <!-- END PAGE TITLE -->

    </div>
    <!-- END PAGE HEAD-->
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="index.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span class="active">Page Layouts</span>
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <div class="note note-info">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-left">
                    <a href="@Url.Action("Index", "TourManage")" class="btn btn-default"><i class="fa fa-refresh"></i>&nbsp;Nạp</a>
                    <button class="btn btn-primary" id="btnAdd" href="#modal-insert-tour" data-toggle="modal"><i class="fa fa-plus"></i>&nbsp;Thêm mới tour</button>
                    <button class="btn btn-warning" id="btnEdit" href="#modal-edit-tour" data-toggle="modal"><i class="fa fa-pencil"></i>&nbsp;Sửa</button>
                    <button class="btn btn-danger" id="btnRemove"><i class="fa fa-remove"></i>&nbsp;Xóa</button>
                    <form action="@Url.Action("Delete", "TourManage")" method="post" style="position:absolute">
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="listItemId" name="listItemId" />
                    </form>
                    <button class="btn green" id="btnAddSchedule"><i class="fa fa-calendar-plus-o"></i>&nbsp;Tạo lịch đi tour</button>
                    <button class="btn blue" id="btnAddTask"><i class="fa fa-clipboard"></i>&nbsp;Phân công nhiệm vụ</button>
                    <button class="btn btn-transparent" id="btnUpdateType" onclick="confirm('Chuyển từ đấu thầu sang tour!')"><i class="fa fa-refresh"></i>&nbsp;Chuyển đổi loại tour</button>
                </div>
            </div>
        </div>
    </div>
    <!-- BEGIN PAGE BASE CONTENT -->
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-list-alt font-red"></i>
                        <span class="caption-subject bold uppercase font-red">Danh sách Tour</span>
                    </div>
                    <div class="actions">
                        <div class="btn-group">
                            <select class="btn green-haze btn-outline btn-circle form-control" id="select-type-tour">
                                <option value="1153">Nội địa</option>
                                <option value="1151">Inbound</option>
                                <option value="1152">Outbound</option>
                                <option value="9999">Thầu</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="portlet-body" id="data-tour">
                    @Html.Action("_Partial_ListTours", "TourManage")
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <div class="tabbable-custom ">
                        <ul class="nav nav-tabs ">
                            <li class="active">
                                <a href="#chitiettour" data-toggle="tab" id="tabchitiettour">Chi tiết tour</a>
                            </li>
                            <li>
                                <a href="#dichvu" data-toggle="tab" id="tabdichvu">DS dịch vụ</a>
                            </li>
                            <li>
                                <a href="#nhiemvu" data-toggle="tab" id="tabnhiemvu">Nhiệm vụ</a>
                            </li>
                            <li>
                                <a href="#khachhang" data-toggle="tab" id="tabkhachhang">Khách hàng</a>
                            </li>
                            <li>
                                <a href="#chuongtrinh" data-toggle="tab" id="tabchuongtrinh">Chương trình</a>
                            </li>
                            <li>
                                <a href="#hopdong" data-toggle="tab" id="tabhopdong">Hợp đồng</a>
                            </li>
                            <li>
                                <a href="#visa" data-toggle="tab" id="tabvisa">VISA</a>
                            </li>
                            <li>
                                <a href="#viettourbaogia" data-toggle="tab" id="tabviettourbaogia">Viettour Báo giá</a>
                            </li>
                            <li>
                                <a href="#congnokh" data-toggle="tab" id="tabcongnokh">Công nợ KH</a>
                            </li>
                            <li>
                                <a href="#congnodoitac" data-toggle="tab" id="tabcongnodoitac">Công nợ đối tác</a>
                            </li>
                            <li>
                                <a href="#danhgia" data-toggle="tab" id="tabdanhgia">Đánh giá</a>
                            </li>
                            <li>
                                <a href="#lichhen" data-toggle="tab" id="tablichhen">Lịch hẹn</a>
                            </li>
                            <li>
                                <a href="#tailieumau" data-toggle="tab" id="tabtailieumau">Tài liệu mẫu</a>
                            </li>
                            <li>
                                <a href="#lichsulienhe" data-toggle="tab" id="tablichsulienhe">Lịch sử liên hệ</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="chitiettour" data-id="chitiettour">
                                @*Chi tiết tour*@
                                @Html.Action("_ChiTietTour", "TourTabInfo")
                            </div>
                            <div class="tab-pane" id="dichvu" data-id="dichvu">
                                @*Dịch vụ*@
                                @Html.Action("_DichVu", "TourTabInfo")
                            </div>
                            <div class="tab-pane" id="nhiemvu" data-id="nhiemvu">
                                @*Nhiệm vụ*@
                                @Html.Action("_NhiemVu", "TourTabInfo")
                            </div>
                            <div class="tab-pane" id="khachhang" data-id="khachhang">
                                @*Khách hàng*@
                                @Html.Action("_KhachHang", "TourTabInfo")
                            </div>
                            <div class="tab-pane" id="tailieumau" data-id="tailieumau">
                                @*Tài liệu mẫu*@
                                @Html.Action("_TaiLieuMau", "TourTabInfo")
                            </div>
                            <div class="tab-pane" id="hopdong" data-id="hopdong">
                                @*Hợp đồng*@
                                @Html.Action("_HopDong", "TourTabInfo")
                            </div>
                            <div class="tab-pane" id="viettourbaogia" data-id="viettourbaogia">
                                @*Báo giá*@
                                @Html.Action("_ViettourBaoGia", "TourTabInfo")
                            </div>
                            <div class="tab-pane" id="danhgia" data-id="danhgia">
                                @*Đánh giá*@
                                @Html.Action("_DanhGia", "TourTabInfo")
                            </div>
                            <div class="tab-pane" id="visa" data-id="visa">
                                @*VISA*@
                                @Html.Action("_Visa", "TourTabInfo")
                            </div>
                            <div class="tab-pane" id="lichsulienhe" data-id="lichsulienhe">
                                @*Lịch sử liên hệ*@
                                @Html.Action("_LichSuLienHe", "TourTabInfo")
                            </div>
                            <div class="tab-pane" id="chuongtrinh" data-id="chuongtrinh">
                                @*Chương trình*@
                                @Html.Action("_ChuongTrinh", "TourTabInfo")
                            </div>
                            <div id="congnokh" class="tab-pane" data-id="congnokh">
                                @*Công nợ khách hàng*@
                                @Html.Action("_CongNoKH", "TourTabInfo")
                            </div>
                            <div id="congnodoitac" class="tab-pane" data-id="congnodoitac">
                                @*Công nợ đối tác*@
                                @Html.Action("_CongNoDoiTac", "TourTabInfo")
                            </div>
                            <div id="lichhen" class="tab-pane" data-id="lichhen">
                                @*Lịch hẹn*@
                                @Html.Action("_LichHen", "TourTabInfo")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- END PAGE BASE CONTENT -->
</div>

<!----- tour ----->
@Html.Partial("_Partial_InsertTour")
<div id="info-data-tour"></div>

<!----- lịch hẹn ----->
@Html.Partial("~/Views/TourOtherTab/_Partial_InsertAppointmentHistory.cshtml", new tbl_AppointmentHistory())
<div id="info-data-appoinment"></div>

<!----- lịch sử liên hệ ----->
@Html.Partial("~/Views/TourOtherTab/_Partial_InsertContactHistory.cshtml", new tbl_ContactHistory())
<div id="info-data-contacthistory"></div>

<!----- document ----->
@Html.Partial("~/Views/TourOtherTab/_Partial_InsertDocument.cshtml", new tbl_DocumentFile())
<div id="info-data-doc"></div>

<!----- lịch đi tour ----->
@Html.Partial("_Partial_InsertScheduleTour")

@Html.Partial("_Partial_InsertTaskTour")
<div id="info-data-task"></div>

@Html.Partial("_Partial_Update_TourType")

<!----- chương trình ----->
@Html.Partial("~/Views/TourOtherTab/_Partial_InsertProgram.cshtml", new tbl_DocumentFile())
<div id="info-data-program"></div>

<!----- hợp đồng ----->
@Html.Partial("~/Views/TourOtherTab/_Partial_InsertContract.cshtml", new tbl_Contract())
<div id="info-data-contract"></div>

<!----- đánh giá ----->
@Html.Partial("~/Views/TourOtherTab/_Partial_InsertMark.cshtml", new tbl_ReviewTour())

<!----- công nợ đối tác ----->
@Html.Partial("~/Views/TourOtherTab/_Partial_InsertCongNoDoiTac.cshtml", new tbl_LiabilityPartner())
<div id="info-data-liabilitypartner"></div>

<!----- công nợ khách hàng ----->
@Html.Partial("~/Views/TourOtherTab/_Partial_InsertCongNoKhachHang.cshtml", new tbl_LiabilityCustomer())
<div id="info-data-liabilitycustomer"></div>

<!----- sự kiện ----->
@Html.Partial("~/Views/TourService/_Partial_InsertEvent.cshtml")
<div id="info-data-eventservice"></div>

<!----- nhà hàng ----->
@Html.Partial("~/Views/TourService/_Partial_InsertRestaurant.cshtml", new tbl_Partner())
<div id="info-data-restaurantservice"></div>

<!----- khách sạn ----->
@Html.Partial("~/Views/TourService/_Partial_InsertHotel.cshtml", new tbl_Partner())
<div id="info-data-hotelservice"></div>

<!----- vận chuyển ----->
@Html.Partial("~/Views/TourService/_Partial_InsertTransport.cshtml", new tbl_Partner())
<div id="info-data-transportservice"></div>

<!----- vé máy bay ----->
@Html.Partial("~/Views/TourService/_Partial_InsertPlane.cshtml", new tbl_Partner())
<div id="info-data-planeservice"></div>

@Html.Partial("_Partial_InsertServiceTour")
@Html.Partial("_Partial_AddServices")

@*@Html.Partial("_Partial_InsertHotel")
    @Html.Partial("_Partial_InsertPlane")
    @Html.Partial("_Partial_InsertRestaurant")
    @Html.Partial("_Partial_InsertTransport")*@
   
@* @Html.Partial("_Partial_UpdateStatus")
    @Html.Partial("_Partial_UpdateVisa")
    @Html.Partial("_Partial_Setup_UserInGroup")
    @Html.Partial("_Partial_ImportCustomer")*@

@section scripts{
    <script src="~/Scripts/controller/tour.js"></script>
    <script src="~/Scripts/controller/tourother.js"></script>
    <script src="~/Scripts/controller/tourservice.js"></script>
}
