@model CRM.Core.tbl_Company

<div class="modal fade bs-modal-lg" id="modal-insert-company" role="document" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Công ty</h4>
            </div>
            @using (Html.BeginForm("Create", "CompanyManage"))
            { 
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-lg-2 col-md-2">Tên công ty</label>
                                <div class="col-lg-10 col-md-10">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", required = "required" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-lg-2 col-md-2">Địa chỉ</label>
                                <div class="col-lg-4 col-md-4">
                                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control", required = "required" })
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <select id="insert-address-company" required="required" name="TagsId" class="form-control" multiple="multiple" style="width: 100%">
                                        @foreach (var item in CRMViettour.Utilities.LoadData.DropdownlistLocation())
                                        {
                                            <option value="@item.Id">@item.Tags</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-lg-2 col-md-2">Mã số thuế</label>
                                <div class="col-lg-10 col-md-10">
                                    @Html.TextBoxFor(model => model.TaxCode, new { @class = "form-control", required = "required" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-lg-2 col-md-2">Ghi chú</label>
                                <div class="col-lg-10 col-md-10">
                                    @Html.TextAreaFor(model => model.Note, new { @class = "form-control", required = "required", id = "insert-company-note" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div align="center" style="margin-bottom: 20px">
                <button type="submit" class="btn blue" name="btnSave">Lưu</button>
                <button type="button" class="btn default" data-dismiss="modal">Đóng</button>
            </div>
            }
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


